/* ///// loginPage IDs///// */
#b1{
    background-color: rgb(218, 37, 37);
    width: 332px;
    font-size: 20px;
}
#b1:hover{
    background-color: rgb(99, 5, 5);
}

#account{
font-size: 17px;
background-color: #eb2723;
}

#account:hover{
    background-color: #b70505;
}
/* ///// Individual Properities///// */
*{
    font-family: "SFProDisplay-Regular", Helvetica, Arial, sans-serif;
    color: white;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
}

/* For the Whole Page */
.main{
    width: 100%;
    height: 100vh;
    padding-bottom: 112px;
    background-image: url("signUpPageImages/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* for the logo */
.img{
    width: 250px;
    height: 250px;
}

/* for the text below logo */
.h2{
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    margin: 0 0 0 34px
}
/* for the flex box in main */
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 520px;
}

/* For the spacing between login area and the logo */
.logo{
    margin-right: 50px;
}

/* For the Login-area */
.form{
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    padding-bottom: 24px;
    padding-top: 10px;
    text-align: center;
}

/* for email and password area */
.input{
    font-size: 17px;
    padding: 14px 16px;
    margin: 0;
    width: 330px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    height: 22px;
    line-height: 16px;
}
/* password Field */
#pass{
    -webkit-text-security: disc;      /* text hidden/masked */
}


/* for the forgot password link */
.text{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
/* for the text below login-area */
.page{
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-top: 28px;
}

/* For the Two buttons of loginPage */
.buttons{
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    color: white;
    cursor: pointer;
    box-sizing: content-box;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    font-weight: bold;
    justify-content: center;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    transition-property: background-color, box-shadow, transform;
    transition-duration: 200ms, 200ms, 200ms;
    transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1), cubic-bezier(0.08, 0.52, 0.52, 1), cubic-bezier(0.08, 0.52, 0.52, 1);
    transition-delay: 0s, 0s, 0s;
}
/* button go back */
.aboutBtn{
    margin-left: 90vh;
    margin-top: 100px;
    position: center;
    text-align: center;
}
.aboutBtn a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.aboutBtn:hover{
    background-color: red;
    color: white;
}
button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid red; 
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s; 
}

span {
    background: red;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover {
    border: 2px solid transparent; 
}

button:hover span {
    width: 100%;
}

