*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(websiteImages/bg.jpg);
    
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 1px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: red;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
/* button hovering effects */


button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid red; 
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s; 
}

span {
    background: red;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover {
    border: 2px solid transparent; 
}

button:hover span {
    width: 100%;
}


/* Products */
.col1{
    flex-basis:25%;
    padding:10px ;
    min-width: 250px;
    margin-bottom: 50px;

}
.col1 img{
    width: 100%;
    height: 100%;
}
.col2{
    flex-basis:25%;
    padding:10px ;
    min-width: 250px;
    margin-bottom: 50px;

}

.col2 img{
    width: 100%;
    height: 80%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 47%;
    transform: translateY(-50%);
}

/* FOOTER */

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer_col_1,.footer_col_2,.footer_col_3,.footer_col_4{
    /* padding-top: 0%; */
    min-width: 250px;
    margin-bottom: 20px;
}
.footer_col_1{
    flex-basis: 30%;
    padding-left: 10px;
}
.footer_col_1 img{
    padding-top: 10px;
    padding-left: 0%;
    width: 35%;
    height: 35%;
}
.footer_col_2{
    flex: 1;
    text-align: center;
}
.footer_col_2 img{
    width: 200px;
    margin-bottom: 20px;
}

.footer_col_3,.footer_col_4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style: none;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.footer_col_4 ul li img{
    width: 25px;
    height: 25px;
}
/* About page */
.aboutBody{
    width: 100%;
    height: 100vh;
    background-image: url(websiteImages/bg.jpg);
    backdrop-filter: blur(3px);
    background-size: cover;
    background-position: center;
}
.aboutBody h1 {
    text-decoration: underline;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    color: red;
}
.aboutBody p{
    padding: 10px;
    font-size: 15px;
    text-align: center;
    text-wrap: wrap;
    line-height: 30px;
    color: white;
}
.aboutBtn{
    margin-top: 150px;
    margin-left : 550px;
    text-align: center;
}
.aboutBtn a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
