/* /// on whole page font set and no margin or padding as default */
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
/* back ground */
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(websiteImages/bg.jpg); 
    background-size: cover;
    background-position: center;
}
/* logo img */
.logo{
    width: 150px;
    cursor: pointer;
}
/* naviagation bar */
.navbar{
    width: 85%;
    margin: auto;
    padding: 1px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* removing the list icon and placing them in single line */
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
/* removing anchor tag color from the list */
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
/* when hovered below the nav bar a red bar appears */
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: red;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
/* hover bar width max */
.navbar ul li:hover::after{
    width: 100%;
}
/* content just below the navbar setting its position */
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);  /* centering the element */
    text-align: center;
    color: white;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
/* button intial settings */
button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid red; 
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s; 
}
/* used to create the animated bg color change of button when hovered */
span {
    background: red;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
/* makes the border bright when hovered */
button:hover {
    border: 2px solid transparent; 
}
/* applies the span style  */
button:hover span {
    width: 100%;
}
/* title thats on top of product images on first page */
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
/* small underline below title */
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 47%;
    transform: translateY(-50%);
}
/* product images on first page same for col1 and col2 */
.col2, .col1{
    flex-basis:25%;
    padding:10px ;
    min-width: 250px;
    margin-bottom: 50px;
}
.col2 img, .col1 img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: transform 1s;
}
.col2 img:hover, .col1 img:hover{
    transform: scale(1.05);     /* make the image 105% larger when hovered */
}
.col2 img:active, .col1 img:active{
    transform: scale(1.1);          /* make the image 110% larger when clicked */
    transition: transform 0.1s;       /* make the transition smooth */
}

/* //////////////////////////////////////////////// FOOTER /////////////////////////////////////////////////// */

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer_col_1,.footer_col_2,.footer_col_3,.footer_col_4{
    /* padding-top: 0%; */
    min-width: 250px;
    margin-bottom: 20px;
}
.footer_col_1{
    flex-basis: 30%;
    padding-left: 10px;
}
.footer_col_1 img{
    padding-top: 10px;
    padding-left: 0%;
    width: 35%;
    height: 35%;
}
.footer_col_2{
    flex: 1;
    text-align: center;
}
.footer_col_2 img{
    width: 200px;
    margin-bottom: 20px;
}

.footer_col_3,.footer_col_4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style: none;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.footer_col_4 ul li img{
    width: 25px;
    height: 25px;
}
/* footer icons */
.footerIcons{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 30px;
}
.footerIcons li{
    margin: 0 10px ;
}
.footerIcons a:visited {
    color: inherit;
}
.fa-youtube-play:hover{
    color: red;
}
.fa-facebook-official:hover {
    color: #1877F2;
}
.fa-instagram:hover{
    color: #E1306C;
}
.fa-twitter:hover{
    color: #1DA1F2;
}
/* ///////////////////////////////////////////// About page /////////////////////////////////////////////////// */
.aboutBody{
    width: 100%;
    height: 100vh;
    background-image: url(websiteImages/bg.jpg);
    backdrop-filter: blur(3px);
    background-size: cover;
    background-position: center;
}
.aboutBody h1 {
    text-decoration: underline;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    color: red;
}
.aboutBody p{
    padding: 30px 100px;
    font-size: 15px;
    text-align: center;
    text-wrap: wrap;
    line-height: 30px;
    color: white;
}
.aboutBtn{
    margin-top: 150px;
    margin-left: 95vh;
    text-align: center;
}
.aboutBtn a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.aboutBtn:hover{
    background-color: red;
    color: white;
}
/* ///////////////////////////////////////////// Contact Page //////////////////////////////////////////////////// */
body.contact h1{
    text-decoration: underline;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    color: red;
}
body.contact p{
    padding: 10px 100px;
    font-size: 15px;
    text-align: center;
    text-wrap: wrap;
    line-height: 30px;
    color: white;
}
body.contact{
    width: 100%;
    height: 100vh;
    background-image: url(websiteImages/bg.jpg);
    backdrop-filter: blur(3px);
    background-size: cover;
    background-position: center;
}
body.contact a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: auto;
    padding-right: auto;
}
#mob
{
    padding-left: auto;
    padding-right: auto;
    color: white;
    text-decoration: none;
    font-size: 30px;
}
#con
{
    padding-left: auto;
    padding-right: auto;
    color: white;
    text-decoration: none;
    font-size: 20px;
    color: red;
}
#conBtn{
    height: 50px;
    margin-top: 100px;
    text-align: center;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#conBtn:hover{
    background-color: red;
    color: white;
}
#conText{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left: auto;
    padding-right: auto;
}

/* /////////////////////////////////////////////////////////// LOGIN PAGE  /////////////////////////////////////////////////////// */
/* ///// loginPage IDs///// */
#Loginb1{
    background-color: rgb(218, 37, 37);
    width: 332px;
    font-size: 20px;
}
#Loginb1:hover{
    background-color: rgb(99, 5, 5);
}

#Loginaccount{
font-size: 17px;
background-color: #eb2723;
}

#Loginaccount:hover{
    background-color: #b70505;
}
/* ///// Individual Properities///// */
*{
    font-family: "SFProDisplay-Regular", Helvetica, Arial, sans-serif;
    color: white;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
}

/* For the Whole Page */
.Loginmain{
    width: 100%;
    height: 100vh;
    padding-bottom: 112px;
    background-image: url("websiteImages/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* for the logo */
.Loginimg{
    width: 250px;
    height: 250px;
}

/* for the text below logo */
.Loginh2{
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    margin: 0 0 0 34px
}
/* for the flex box in main */
.Logincontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 520px;
}

/* For the spacing between login area and the logo */
.Loginlogo{
    margin-right: 50px;
}

/* For the Login-area */
.Loginform{
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    padding-bottom: 24px;
    padding-top: 10px;
    text-align: center;
}

/* for email and password area */
.Logininput{
    font-size: 17px;
    padding: 14px 16px;
    margin: 0;
    width: 330px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    height: 22px;
    line-height: 16px;
}
/* password Field */
/* #Loginpass{
    -webkit-text-security: disc;      /* text hidden/masked */


/* for the forgot password link */
.Logintext{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
/* for the text below login-area */
.page{
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-top: 28px;
}

/* For the Two buttons of loginPage */
.Loginbuttons{
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    color: white;
    cursor: pointer;
    box-sizing: content-box;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    font-weight: bold;
    justify-content: center;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    transition-property: background-color, box-shadow, transform;
    transition-duration: 200ms, 200ms, 200ms;
    transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1), cubic-bezier(0.08, 0.52, 0.52, 1), cubic-bezier(0.08, 0.52, 0.52, 1);
    transition-delay: 0s, 0s, 0s;
}
/* button go back */
.aboutBtn{
    margin-left: 90vh;
    margin-top: 100px;
    position: center;
    text-align: center;
}
.aboutBtn a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.aboutBtn:hover{
    background-color: red;
    color: white;
}
button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid red; 
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s; 
}

span {
    background: red;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover {
    border: 2px solid transparent; 
}

button:hover span {
    width: 100%;
}
/* ///////////////////  Shop    /////////////////////////// */
.Shopmain{
    width: 100%;
    height: 100vh;
    background-image: url("websiteImages/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    padding: 5px;
    margin: 20px;
}

.ShopProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ShopProducts img {
    cursor: pointer;
    width: 100%;
    height: 300px; 
    object-fit: cover;
    transition: transform 1s; 
}

.ShopProducts img:hover {
    transform: scale(1.05); 
}

.ShopProducts img:active {
    transform: scale(1.1); 
    transition: transform 0.1s; 
}

.ShopP {
    text-align: center;
    margin-top: 15px; 
    color: white;
    font-size: 25px;
}
#ShopBuy{
    height: 50px;
    text-align: center;
}
#ShopBuy:hover{
    background-color: rgb(142, 7, 7);
    color: white;
}
#ShopBtn{
    margin-left: 90vh;
    text-align: center;
}
#ShopBtn:hover{
    background-color: red;
    color: white;
}
/* //////////////////////////////////////// Responsiveness /////// ///////////////////////////////////////////////////// */
/* For tablets */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    .content h1 {
        font-size: 50px;
    }
    .col1, .col2 {
        flex-basis: 100%;
    }
}

/* For mobile phones */
@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
    }
    .content h1 {
        font-size: 30px;
    }
    .col1, .col2 {
        flex-basis: 100%;
    }
}